@media screen and (max-width: 767px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
    padding-top: 0;
    padding-bottom: 94px;
  }

  .occupation__list {
    display: flex;
    gap: 30px;
  }
  .occupation-box {
    position: relative;
    width: 370px;
  }
  .occupation-box__text {
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);

    color: var(--white-text-color);
  }
}
