:root {
  --basic-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-bg-color: #2196f3;
  --header-footer-bg-color: #2f303a;
  --active-accent-bg-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --border-line-color: #ececec;
  --border-box-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --link-icon-footer-color: rgba(255, 255, 255, 0.1);
  --border-form-color: rgba(33, 33, 33, 0.2);
  --transition-dur-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
